# Virtual environment
.venv/
.venv_cpu/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/


# Local Data
data/
crops/
detector/yolo_dataset/images/
detector/yolo_dataset/labels/
runs/1_video_inference/
runs/inference/
runs/inference_val/
runs/train_mouth_1/
runs/train_mouth_debug/
event_training/experiments/
event_training/training/mouth/mouth_detector_smoke.pth
checkpoints/
